<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">

                {% if site.data.profile.education %}
                <div class="mb-4">
                    <h5 class="mb-3">Education</h5>
                    <ul class="list-unstyled mb-0">
                        {% for item in site.data.profile.education %}
                        <li class="media mb-3">
                            <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 22px;" class="mr-2 mt-1">
                            <div class="media-body">
                                <div class="d-flex justify-content-between">
                                    <strong>{{ item.name }}</strong>
                                    <em class="small text-muted no-break">{{ item.date }}</em>
                                </div>
                                <div class="small">{{ item.position }}</div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

                {% if site.data.profile.research_experience or site.data.profile.teaching_experience or site.data.profile.work_experience %}
                <div class="mb-4">
                    <h5 class="mb-3">Experience</h5>
                    
                    {% if site.data.profile.research_experience %}
                    <div class="mb-3 ml-2">
                        <h6 class="text-muted mb-2">Research</h6>
                        <ul class="list-unstyled mb-0 ml-2">
                            {% for item in site.data.profile.research_experience %}
                            <li class="mb-2">
                                <div class="d-flex justify-content-between">
                                    <span>{{ item.name }}</span>
                                    <em class="small text-muted no-break">{{ item.date }}</em>
                                </div>
                                <div class="small text-muted">{{ item.position }}</div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                    {% if site.data.profile.teaching_experience %}
                    <div class="mb-3 ml-2">
                        <h6 class="text-muted mb-2">Teaching & Mentoring</h6>
                        <ul class="list-unstyled mb-0 ml-2">
                            {% for item in site.data.profile.teaching_experience %}
                            <li class="mb-2">
                                <div class="d-flex justify-content-between">
                                    <span>{{ item.name }}</span>
                                    <em class="small text-muted no-break">{{ item.date }}</em>
                                </div>
                                <div class="small text-muted">{{ item.position }}</div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                    {% if site.data.profile.work_experience %}
                    <div class="mb-3 ml-2">
                        <h6 class="text-muted mb-2">Professional</h6>
                        <ul class="list-unstyled mb-0 ml-2">
                            {% for item in site.data.profile.work_experience %}
                            <li class="mb-2">
                                <div class="d-flex justify-content-between">
                                    <span>{{ item.name }}</span>
                                    <em class="small text-muted no-break">{{ item.date }}</em>
                                </div>
                                <div class="small text-muted">{{ item.position }}</div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
                {% endif %}

                {% if site.data.profile.leadership or site.data.profile.volunteer %}
                <div class="mb-4">
                    <h5 class="mb-3">Activities</h5>
                    
                    {% if site.data.profile.leadership %}
                    <div class="mb-3 ml-2">
                        <h6 class="text-muted mb-2">Leadership & Social Practice</h6>
                        <ul class="list-unstyled mb-0 ml-2">
                            {% for item in site.data.profile.leadership %}
                            <li class="mb-2">
                                <div class="d-flex justify-content-between">
                                    <span>{{ item.name }}</span>
                                    <em class="small text-muted no-break">{{ item.date }}</em>
                                </div>
                                <div class="small text-muted">{{ item.position }}</div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                    {% if site.data.profile.volunteer %}
                    <div class="mb-3 ml-2">
                        <h6 class="text-muted mb-2">Volunteer</h6>
                        <ul class="list-unstyled mb-0 ml-2">
                            {% for item in site.data.profile.volunteer %}
                            <li class="mb-2">
                                <div class="d-flex justify-content-between">
                                    <span>{{ item.name }}</span>
                                    <em class="small text-muted no-break">{{ item.date }}</em>
                                </div>
                                <div class="small text-muted">{{ item.position }}</div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
                {% endif %}

                {% if site.data.profile.awards %}
                <div class="mb-0">
                    <h5 class="mb-3">Honors & Awards</h5>
                    <ul class="list-unstyled mb-0 ml-2">
                        {% for item in site.data.profile.awards %}
                        <li class="mb-1">
                            <span>{{ item.name }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>
