{% assign item = include.item %}

<div class="p-3 {% unless include.hide_bottom_border %}border-bottom border-gray{% endunless %}">
  
  <h5 class="mt-0 mb-1 font-weight-normal">
    {% if item.paper_url %}
      <a href="{{ item.paper_url }}" target="_blank" rel="noopener noreferrer">{{ item.title }}</a>
    {% else %}
      {{ item.title }}
    {% endif %}
  </h5>
  
  <p class="mt-1 mb-0 small">{% include widgets/author_list.html authors=item.authors %}</p>
  
  <p class="mt-1 mb-0 small">
    <i>{{ item.pub }}</i>
    {% if item.pub_date %}, {{ item.pub_date }}{% endif %}
    {% if item.pub_last %} <span class="text-muted">{{ item.pub_last }}</span>{% endif %}
  </p>
  
  {% if item.abstract %}
    <p class="mt-2 mb-0 small text-muted">{{ item.abstract }}</p>
  {% endif %}

</div>